.nav{background-color: rgb(56, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 40px;
}


.nav-title{margin-left: 115px;}
h1{color: white;
justify-content: flex-start;
font-size: large, 70px;

}
.nav-links{
width: 50%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    list-style-type: none;
  
    
    
}
a{
    text-decoration: none;
    color: aliceblue;

}
.active{
    font-size:large ;
}


.btn{color: white;
background-color: rgb(6, 185, 185);
box-shadow: 10px 5px 5px black;}